<h1>App two</h1>
<!-- <form>
  <label for="content">Message content</label>
  <select [(ngModel)]="message.content" id="content" required>
    <option [valu e]="hello world">Say hello</option>
    <option [value]="Bye">Say bye</option>
    <option [value]="Trains are the best">Unknow</option>
  </select>

  <button type="submit">submit</button>
</form> -->

<span>{{ message.content }}</span>

<hr>
<h2>Old</h2>
<button type="button" (click)="doSomething()"> do a redirect</button>
<a href="/two/be/weatherforecast">optie 2</a>
